.headerRoutingCourse {
  background-color: rgba(238, 239, 255, 1);
}

.logoRoutingCourse a {
  margin-right: 29%;
  font-weight: 800;
  font-size: 1.7rem;
  color: #020f8f;
}

.elementRoutingCourse a {
  margin-left: 100px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #020f8f;
}

.elementAddRoutingCourse a {
  color: #020f8f;
  font-weight: 700;
}

.elementAddRoutingCourse {
  margin-left: 60px;
  text-align: center;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .elementRoutingCourse a {
    margin-left: 250px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #020f8f;
  }
}

@media only screen and (min-width: 600px) {
  .logoRoutingCourse a {
    margin-right: 100px;
    font-weight: 800;
    font-size: 3rem;
    color: #020f8f;
  }

  .elementAddRoutingCourse a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #020f8f;
  }

  .elementRoutingCourse a {
    font-size: 2.4rem;
    margin-left: 160px;
  }
}
