.containerCourses {
  background-color: grey;
  height: 100vh;
  background-color: rgba(238, 239, 255, 1);
  overflow: hidden;
  background-image: url("../assets/waves2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}

.gridContainerCourses div {
  background-color: white;
  outline-style: #020f8f;
  aspect-ratio: 1;
}

.grid {
  display: grid;
  grid-template-areas:
    "one one two two five five six six"
    "one one two two five five six six"
    "three three four four seven seven eight eigth"
    "three three four four seven seven eight eigth";
  gap: 10px;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  justify-content: center;
  height: 400px;
}

.grid > * {
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 5px;
  padding: 10px;
  outline: rgba(75, 39, 178, 0.74) solid;
  overflow-wrap: break-word;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
  width: 160px;
}

.titleCourses {
  font-size: 3rem;
  text-align: center;
  margin: 70px 0;
  color: #020f8f;
}

.grid div:hover {
  background-color: rgba(75, 39, 178, 0.74);
  color: white;
}

.addCourseLink a {
  font-size: 2rem;
  font-weight: 800;
  color: #020f8f;
}

.addCourseLink {
  overflow-wrap: break-word;
  text-align: center;
}

a.plusCourseLink {
  font-size: 8rem;
  font-weight: 800;
  color: #020f8f;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/waves2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
  }

  .addCourseLink a {
    font-size: 3rem;
    font-weight: 800;
    color: #020f8f;
  }

  .addCourseLink {
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 100px;
  }

  a.plusCourseLink {
    font-size: 8rem;
    font-weight: 800;
    color: #020f8f;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
  }

  .addCourseLink {
    margin-top: 50px;
  }

  a.addCourseLinkText {
    font-size: 3.3rem;
    margin-right: 20px;
  }

  .titleCourses {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }
}

@media only screen and (min-width: 992px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }
  .grid {
    display: grid;
    grid-template-areas:
      "one one two two five five six six"
      "one one two two five five six six"
      "three three four four seven seven eight eigth"
      "three three four four seven seven eight eigth";
    gap: 10px;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;
    height: 400px;
  }
  .eight {
    grid-area: eight;
    width: 210px;
  }
}

@media only screen and (min-width: 1400px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }
  .grid {
    display: grid;
    grid-template-areas:
      "one one two two five five six six"
      "one one two two five five six six"
      "three three four four seven seven eight eigth"
      "three three four four seven seven eight eigth";
    gap: 10px;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;
    height: 400px;
  }
}

@media only screen and (min-width: 1600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "one one two two five five six six"
      "one one two two five five six six"
      "three three four four seven seven eight eigth"
      "three three four four seven seven eight eigth";
    gap: 10px;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(8, 120px);
    justify-content: center;
    height: 400px;
  }
  .eight {
    grid-area: eight;
    width: 250px;
  }
  .addCourseLink {
    margin-top: 250px;
  }
}

@media only screen and (min-width: 1800px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }
  .grid {
    display: grid;
    grid-template-areas:
      "one one two two five five six six"
      "one one two two five five six six"
      "three three four four seven seven eight eigth"
      "three three four four seven seven eight eigth";
    gap: 10px;
    grid-template-columns: repeat(8, 140px);
    grid-template-rows: repeat(8, 140px);
    justify-content: center;
    height: 400px;
  }
  .eight {
    grid-area: eight;
    width: 290px;
  }
}

@media only screen and (min-width: 2000px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "one one two two five five six six"
      "one one two two five five six six"
      "three three four four seven seven eight eigth"
      "three three four four seven seven eight eigth";
    gap: 10px;
    grid-template-columns: repeat(8, 160px);
    grid-template-rows: repeat(8, 160px);
    justify-content: center;
    height: 400px;
  }
  .eight {
    grid-area: eight;
    width: 330px;
  }
  .addCourseLink {
    margin-top: 330px;
  }

  .addCourseLink a {
    font-size: 5rem;
  }
}
