.containerCourses {
  background-color: grey;
  height: 100vh;
  background-color: rgba(238, 239, 255, 1);
  overflow: hidden;
  background-image: url("../assets/waves2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}

.containerSingleCourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titleCourses {
  font-size: 3rem;
  text-align: center;
  margin: 70px 0;
  color: #020f8f;
}

.courseBox:hover {
  background-color: rgba(75, 39, 178, 0.74);
  color: white;
  transition: 0.2s;
}

.addCourseLink a {
  font-size: 2rem;
  font-weight: 800;
  color: #020f8f;
}

.addCourseLink {
  overflow-wrap: break-word;
  text-align: center;
}

a.plusCourseLink {
  font-size: 8rem;
  font-weight: 800;
  color: #020f8f;
}

.containerCoursesBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.courseBox {
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.618);
  margin: 0 20px;
  border-radius: 20px;
  outline: #020f8f solid;
  overflow-wrap: break-word;
  width: 170px;
}

.courseButtonEnroll {
  width: 170px;
  margin-top: 10px;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 20px;
  outline: #020f8f solid;
}

.courseImage {
  width: 50px;
  height: 50px;
}

.courseImg {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/waves2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
  }

  .addCourseLink a {
    font-size: 3rem;
    font-weight: 800;
    color: #020f8f;
  }

  .addCourseLink {
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 100px;
  }

  a.plusCourseLink {
    font-size: 8rem;
    font-weight: 800;
    color: #020f8f;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
  }

  .addCourseLink {
    margin-top: 50px;
  }

  a.addCourseLinkText {
    font-size: 3.3rem;
    margin-right: 20px;
  }

  .titleCourses {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseBox {
    width: 250px;
    height: 250px;
    font-size: 2rem;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseButtonEnroll {
    width: 250px;
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.566);
    border-radius: 20px;
    outline: #020f8f solid;
  }
}

@media only screen and (min-width: 992px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseBox {
    width: 300px;
    height: 300px;
    font-size: 2.3rem;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseButtonEnroll {
    width: 300px;
    margin-top: 10px;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.566);
    border-radius: 20px;
    outline: #020f8f solid;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseBox {
    width: 300px;
    height: 300px;
    font-size: 2.3rem;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseButtonEnroll {
    width: 300px;
    margin-top: 10px;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.566);
    border-radius: 20px;
    outline: #020f8f solid;
  }
}

@media only screen and (min-width: 1400px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
    /* margin-top: 10px; */
  }
  .courseBox {
    margin-top: 10px;
    width: 350px;
    height: 350px;
    font-size: 1.8rem;
    padding: 10px;
  }

  .courseWrap {
    overflow: hidden;
  }

  .courseImage {
    width: 100px;
    height: 100px;
  }

  .courseButtonEnroll {
    width: 350px;
    margin-top: 10px;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.566);
    border-radius: 20px;
    outline: #020f8f solid;
  }
}

@media only screen and (min-width: 1600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }
  .courseBox {
    width: 300px;
    height: 300px;
    font-size: 2.3rem;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 1800px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }
}

@media only screen and (min-width: 2000px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    overflow: hidden;
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }

  .addCourseLink a {
    font-size: 5rem;
  }
}
