@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Lexend:wght@200;300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Lexend", sans-serif;
  font-size: 10px;
  background: url("./assets/waves1.png") no-repeat bottom,
    linear-gradient(to bottom, #343563 0%, #4926ad 100%);
  background-size: contain;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  margin-right: 29%;
  font-weight: 800;
  font-size: 1.7rem;
}

.login {
  margin-left: 20px;
  font-size: 1.5rem;
}

.register {
  font-size: 1.5rem;
  text-decoration: underline;
  color: white;
}

/* main start content */
.mainStartContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 50px;
}

.titleMainStart {
  color: white;
  font-size: 5.2rem;
  margin-bottom: 20px;
}

.descriptionMainStart {
  font-size: 1.4rem;
}

.linkToCourses {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 100px;
  text-decoration: underline;
}
.containerForm {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.844);
  border-radius: 20px;
}

.labelForm {
  font-size: 2rem;
  font-weight: 700;
  margin: 30px 0;
}

.buttonForm {
  margin: 30px;
}

.bodyCourses {
  background-color: red;
}
