.headerRoutingCourse {
  background-color: rgba(238, 239, 255, 1);
}

.logoRoutingCourse a {
  margin-right: 29%;
  font-weight: 800;
  font-size: 2rem;
  color: #020f8f;
}

.elementRoutingCourse a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #020f8f;
  width: 100%;
}

.elementAddRoutingCourse a {
  color: #020f8f;
  font-weight: 700;
}

.elementAddRoutingCourse {
  margin-left: 60px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.elementRoutingCourse {
  margin-left: 20px;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .logoRoutingCourse a {
    font-size: 2rem;
  }

  .elementRoutingCourse a {
    font-size: 1.8rem;
  }
  .elementRoutingCourse a {
    margin-left: 190px;
  }
}

@media only screen and (min-width: 600px) {
  .logoRoutingCourse a {
    margin-right: 100px;
    font-weight: 800;
    font-size: 3rem;
    color: #020f8f;
  }

  .elementAddRoutingCourse a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #020f8f;
  }

  .elementRoutingCourse a {
    font-size: 2.4rem;
    margin-left: 100px;
  }
}

@media only screen and (min-width: 1400px) {
  .logoRoutingCourse a {
    font-size: 4rem;
  }

  .elementAddRoutingCourse a {
    font-size: 2rem;
    font-weight: 700;
    color: #020f8f;
  }

  .elementRoutingCourse a {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1600px) {
  .logoRoutingCourse a {
    font-size: 4rem;
  }

  .elementRoutingCourse a {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1800px) {
  .logoRoutingCourse a {
    font-size: 4.5rem;
  }

  .elementRoutingCourse a {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 2000px) {
  .logoRoutingCourse a {
    font-size: 5rem;
  }

  .elementRoutingCourse a {
    font-size: 5rem;
  }
}
