.containerCourses {
  background-color: grey;
  height: 100vh;
  background-color: rgba(238, 239, 255, 1);

  background-image: url("../assets/waves2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  overflow: scroll;
}

.containerSingleCourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titleCourses {
  font-size: 3rem;
  text-align: center;
  color: #020f8f;
  margin: 2.2rem 0;
}

.courseBox:hover {
  background-color: rgba(75, 39, 178, 0.74);
  color: white;
  transition: 0.2s;
}

.addCourseLink a {
  font-size: 2rem;
  font-weight: 800;
  color: #020f8f;
}

.addCourseLink {
  overflow-wrap: break-word;
  text-align: center;
}

a.plusCourseLink {
  font-size: 8rem;
  font-weight: 800;
  color: #020f8f;
}

.containerCoursesBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.courseBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  font-size: 0.8rem;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  outline: #020f8f solid;
  background-color: rgba(255, 255, 255, 0.618);
  overflow-wrap: break-word;
  grid-gap: 0.8rem;
}

.courseButtonEnroll {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 20px;
  border: none;
  color: #020f8f;
  font-weight: 800;
}

.courseImage {
  width: 50px;
  height: 50px;
}

.courseImg {
  display: flex;
  justify-content: center;
}

.ifEmptyCourses {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.noCourses {
  font-size: 3rem;
  margin: 10rem;
  color: #020f8f;
  background-color: rgba(255, 255, 255, 0.718);
  padding: 20px;
  border-radius: 20px;
}

.noCourseLink {
  color: #020f8f;
  font-weight: 800;
  text-decoration: underline;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .containerCourses {
    height: 100vh;

    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150vw;
  }

  .addCourseLink a {
    font-size: 3rem;
    font-weight: 800;
    color: #020f8f;
  }

  .addCourseLink {
    overflow-wrap: break-word;
    text-align: center;
  }

  a.plusCourseLink {
    font-size: 8rem;
    font-weight: 800;
    color: #020f8f;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    font-size: 1.2rem;
    grid-gap: 0.8rem;
  }

  .courseButtonEnroll {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
  }

  a.addCourseLinkText {
    font-size: 3.3rem;
    margin-right: 20px;
  }

  .titleCourses {
    font-size: 3.5rem;
    margin: 30px 0;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    font-size: 1.2rem;
    grid-gap: 0.8rem;
  }

  .courseButtonEnroll {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    font-size: 1.5rem;
    grid-gap: 1rem;
  }

  .courseButtonEnroll {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    font-size: 1.6rem;
    grid-gap: 0.5rem;
  }

  .courseButtonEnroll {
    font-size: 2.5rem;
  }

  .addCourseLink a {
    font-size: 3.6rem;
  }

  .titleCourses {
    font-size: 4.2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112vw;
  }

  .courseImage {
    width: 80px;
    height: 80px;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    font-size: 1.8rem;
    grid-gap: 0.2rem;
  }

  .courseButtonEnroll {
    font-size: 2.8rem;
  }

  .addCourseLink a {
    font-size: 4rem;
  }

  .titleCourses {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
    /* margin-top: 10px; */
  }

  .courseImage {
    width: 100px;
    height: 100px;
  }
  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    font-size: 1.8rem;
    grid-gap: 0.2rem;
  }

  .courseButtonEnroll {
    font-size: 2.8rem;
  }

  .addCourseLink a {
    font-size: 4rem;
  }

  .titleCourses {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .containerCourses {
    background-color: grey;

    background-color: rgba(238, 239, 255, 1);

    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
    /* margin-top: 10px; */
  }

  .courseImage {
    width: 100px;
    height: 100px;
  }
  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    font-size: 2rem;
    grid-gap: 0.2rem;
  }

  .courseButtonEnroll {
    font-size: 2.8rem;
  }

  .addCourseLink a {
    font-size: 4.6rem;
  }

  .titleCourses {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 1800px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    font-size: 2.2rem;
  }

  .courseButtonEnroll {
    font-size: 2.8rem;
  }

  .addCourseLink a {
    font-size: 5.5rem;
  }

  .titleCourses {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 2000px) {
  .containerCourses {
    background-color: grey;
    height: 100vh;
    background-color: rgba(238, 239, 255, 1);
    background-image: url("../assets/wavesBigger3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130vw;
  }

  .addCourseLink a {
    font-size: 6rem;
    padding: 100px 0;
  }

  .titleCourses {
    font-size: 8rem;
  }

  .courseBox {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    font-size: 2.8rem;
  }

  .courseButtonEnroll {
    font-size: 5rem;
  }
}
